@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
}

.texteffect {
    color: #2f10e2;
    letter-spacing: 2px;
}

.nav {
    background: rgba(27, 13, 13, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.1px);
    -webkit-backdrop-filter: blur(17.1px);
    border: 1px solid rgba(255, 255, 255, 0.68);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}